<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modal basic</title>
  <link rel="stylesheet" href="t.css">
</head>

<body>
  <a href="javascript:void(0);" id="openModal" class="btn open-modal">Open Modal</a>
  <div class="modal" data-target="#openModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close">&times;</button>
          <h2>Header</h2>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis id neque deserunt
            atque, delectus molestiae? Consectetur, veritatis voluptatem? Saepe illo autem magnam aut nihil doloribus
            ducimus vero consectetur itaque iure?</p>
        </div>
        <div class="modal-footer">
          <h2>Footer</h2>
        </div>
      </div>
    </div>
  </div>
  <script src="t.js"></script>
</body>

</html>