.container {
  display: flex;
  margin: 3em;
  transform: rotate3d(183, 36, -15, 45deg);
  transform-style: preserve-3d;
}

.icon-bar {
  position: relative;
  padding: 1em 0;
  margin: 0.6em;
  background: lightblue;
  font-size: 3em;
  color: #fff;
  width: 15%;
  cursor: pointer;
  transform: rotate3d(0, 0, 1, -25deg);
  transition: transform .5s;
  text-align: center;
}


.icon-bar>.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 0;
  background: rgba(173, 216, 230, 1);
  transition: transform .5s;
}

.icon-bar:hover {
  background: rgba(173, 216, 230, .25);
}

.icon-bar:hover>.bar:nth-child(2) {
  transform: translate3d(12px, -18px, 0);
  background: rgba(173, 216, 230, .5);
}

.icon-bar:hover>.bar:nth-child(3) {
  transform: translate3d(24px, -36px, 0px);
  background: rgba(173, 216, 230, .75);
}

.icon-bar:hover>.bar:nth-child(4) {
  transform: translate3d(36px, -54px, 0px);
  background: rgba(173, 216, 230, 1);
}

.box {
  width: 300px;
  /* height: 300px; */
  margin: 3em auto;
  font-size: 4em;
  color: #fff;
  position: relative;
}

.screen1 {
  position: relative;
  padding: 1em 0;
  width: 100%;
  background: #de4139;
  text-align: center;
  transform: rotate3d(1, 1, 1, -60deg);
}

.screen2,
.screen3,
.screen4 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em 0;
  width: 100%;
  background: #de4139;
  text-align: center;
  transform: rotate3d(1, 1, 1, -60deg);
  transition: transform .5s;
}

.box:hover>.screen1 {
  opacity: 0.25;
  transform: rotate3d(1, 1, 1, -60deg);
}

.box:hover>.screen2 {
  opacity: 0.5;
  transform: rotate3d(1, 1, 1, -60deg) translate3d(0px, -20px, -36px);
}

.box:hover>.screen3 {
  opacity: 0.75;
  transform: rotate3d(1, 1, 1, -60deg) translate3d(0px, -40px, -72px);
}

.box:hover>.screen4 {
  opacity: 1;
  transform: rotate3d(1, 1, 1, -60deg) translate3d(0px, -60px, -108px);
}