body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 3rem;
  background: black;
  color: #eee;
  position: relative;
}

.main {
  padding: 2em;
}

::-webkit-scrollbar {
  width: 0;
}

.scroll-path {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: #222;
}

.scroll-bar,
.scroll-bar::before,
.scroll-bar::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(180deg, #008aff, #00ffe7);
}

.scroll-bar {
  height: 10%;
  animation: hueRotate 5s linear infinite;
}

.scroll-bar::before {
  content: '';
  filter: blur(10px);
  height: 100%;
}

.scroll-bar::after {
  content: '';
  filter: blur(30px);
  height: 100%;
}


@keyframes hueRotate {

  0%,
  100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}