*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2em;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;
}

button:focus {
  outline: none;
}

.btn {
  padding: 9px 23px;
  background: lightblue;
  color: #fff;
  border: 0;
  margin-bottom: 1em;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 1.5em;
  margin-bottom: 1em;
  background: #f3f3f3;
}

.progress-bar>span {
  display: block;
  height: 100%;
  color: #fff;
  font-size: 1em;
  /* font-weight: bold; */
  background: green;
  line-height: 1.5;
  text-align: center;
  width: 10%;
}