<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Collapse</title>
  <link rel="stylesheet" href="t.css">
</head>

<body>
  <div class="accordion" id="accordion">
    <button class="btn w-100 text-left" data-toggle="collapse" data-parent='#accordion'>Collase Me</button>
    <div class="collapse w-100">
      <h3>Title Heading</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio culpa ea vel sunt amet nihil odit eligendi.
        Magni,
        placeat? Velit.</p>
    </div>
    <button class="btn w-100 text-left" data-toggle="collapse" data-parent='#accordion'>Collase Me</button>
    <div class="collapse w-100">
      <h3>Title Heading</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio culpa ea vel sunt amet nihil odit eligendi.
        Magni,
        placeat? Velit.</p>
    </div>
    <button class="btn w-100 text-left" data-toggle="collapse" data-parent='#accordion'>Collase Me</button>
    <div class="collapse w-100">
      <h3>Title Heading</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio culpa ea vel sunt amet nihil odit eligendi.
        Magni,
        placeat? Velit.</p>
    </div>
    <button class="btn w-100 text-left" data-toggle="collapse" data-parent='#accordion'>Collase Me</button>
    <div class="collapse w-100">
      <h3>Title Heading</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio culpa ea vel sunt amet nihil odit eligendi.
        Magni,
        placeat? Velit.</p>
    </div>
  </div>

  <script src="t.js"></script>
</body>

</html>