<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="t.css">
</head>

<body>
  <nav class="sidenav">
    <a class="active" href="#">Home</a>
    <a href="#">News</a>
    <a href="#">Contact</a>
    <a href="#">About</a>
  </nav>
  <main class="main">
    <h2>Responsive Sidebar Example</h2>
    <p>This example use media queries to transform the sidebar to a top navigation bar when the screen size is 700px or
      less.</p>
    <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the
      navigation links.</p>
    <h3>Resize the browser window to see the effect.</h3>
  </main>
</body>

</html>