<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dropdown on Sidebar</title>
  <link rel="stylesheet" href="t.css">
</head>

<body>
  <aside class="sidebar">
    <a class="sidebar-item" href="#">Link xxx</a>
    <a class="sidebar-item" href="#">Link xxx</a>
    <a class="sidebar-item" href="#">Link xxx</a>
    <div class="dropdown">
      <button class="btn dropdown-toggle w-100" id="dropdown">More</button>
      <div class="dropdown-menu" aria-labelledby="dropdown">
        <a href="#" class="dropdown-item">xvideos</a>
        <a href="#" class="dropdown-item">pornhub</a>
        <a href="#" class="dropdown-item">javhdpro</a>
      </div>
    </div>
    <a class="sidebar-item" href="#">Link xxx</a>
  </aside>
  <main class="main">
    <h2>Sidebar Dropdown</h2>
    <p>Click on the dropdown button to open the dropdown menu inside the side navigation.</p>
    <p>This sidebar is of full height (100%) and always shown.</p>
    <p>Some random text..</p>
  </main>
  <script src="t.js"></script>
</body>

</html>