<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Progress Bar</title>
  <link rel="stylesheet" href="t.css">
</head>

<body>
  <div class="progress-bar bg-cyan"><span data-percent="30%">30%</span></div>
  <div class="progress-bar progress-bar-striped bg-teal"><span data-percent="60%">60%</span></div>
  <div class="progress-bar progress-bar-striped bg-violet animated"><span data-percent="90%">90%</span></div>
</body>

</html>