<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dropdown Component</title>
  <link rel="stylesheet" href="./t.css">
</head>

<body>
  <div class="dropdown">
    <button class="btn dropdown-toggle" id="dropdown1">CLGT1</button>
    <div class="dropdown-menu" aria-labelledby="dropdown1">
      <div class="dropdown-item">
        A the a!
      </div>
      <div class="dropdown-item">
        A the a!
      </div>
      <div class="dropdown-item">
        A the a!
      </div>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn dropdown-toggle" id="dropdown2">CLGT2</button>
    <div class="dropdown-menu" aria-labelledby="dropdown2">
      <div class="dropdown-item">
        A the a!
      </div>
      <div class="dropdown-item">
        A the a!
      </div>
      <div class="dropdown-item">
        A the a!
      </div>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn dropdown-toggle" id="dropdown3">CLGT3</button>
    <div class="dropdown-menu" aria-labelledby="dropdown3">
      <div class="dropdown-item">
        A the a!
      </div>
      <div class="dropdown-item">
        A the a!
      </div>
      <div class="dropdown-item">
        A the a!
      </div>
    </div>
  </div>
  <script src="./t.js"></script>
</body>

</html>