<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Structure</title>
  <link rel="stylesheet" href="./t.css">
</head>

<body>
  <header>Header</header>
  <section class="banner">Banner</section>
  <section class="content">
    <nav>
      <ul>
        <li>link #1</li>
        <li>link #2</li>
        <li>link #3</li>
        <li>link #4</li>
        <li>link #5</li>
      </ul>
    </nav>
    <article>
      <h3>this is title</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur neque mollitia et fuga quam optio quos
        possimus laudantium suscipit iste sit aut voluptates nobis nesciunt quia nulla, tempore architecto quo.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse repellat officiis tempora laboriosam cum sit
        itaque sint, explicabo fugiat odit temporibus repudiandae modi obcaecati, quos nisi non autem reiciendis
        delectus!</p>
    </article>
  </section>
  <footer>Footer</footer>
</body>

</html>