<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flexbox Template</title>
  <link rel="stylesheet" href="./t.css">
</head>

<body class="p-2">
  <header class="header">
    <div class="banner bg-white text-center">
      <h1>My Website</h1>
      <p>Resize the browser window to see the effect.</p>
    </div>
    <nav class="navbar">
      <a href="#" class="nav-link">Link</a>
      <a href="#" class="nav-link">Link</a>
      <a href="#" class="nav-link">Link</a>
      <a href="#" class="nav-link nav-link-right">Link</a>
    </nav>
  </header>
  <main class="main">
    <article class="content">
      <div class="p-2 mt-2 bg-white">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg" style="height:200px;">
          <p>Image</p>
        </div>
        <p>Some text...</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
          tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
        </p>
      </div>
      <div class="p-2 mt-2 bg-white">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">
          <p>Image</p>
        </div>
        <p>Some text...</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
          tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
        </p>
      </div>
    </article>
    <aside class="introduce">
      <div class="p-2 mt-2 bg-white">
        <h2>About Me</h2>
        <div class="fakeimg" style="height:100px;">
          <p>Image</p>
        </div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      </div>
      <div class="p-2 mt-2 bg-white">
        <h3>Popular Post</h3>
        <div class="fakeimg">
          <p>Image</p>
        </div>
        <div class="fakeimg">
          <p>Image</p>
        </div>
        <div class="fakeimg">
          <p>Image</p>
        </div>
      </div>
      <div class="p-2 mt-2 bg-white">
        <h2>Follow Me</h2>
        <p>Some text...</p>
      </div>
    </aside>
  </main>
  <footer class="footer text-center p-2 mt-2">
    <h2>Footer</h2>
  </footer>
</body>

</html>