<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid Template</title>
  <link rel="stylesheet" href="./t.css">
</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="banner">
        <h1 class="fw-bold">My Website</h1>
        <p>Resize the browser window to see effect.</p>
      </div>
      <nav class="navbar">
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <div class="empty-space"></div>
        <a class="nav-link" href="#">Link</a>
      </nav>
    </header>
    <article class="post-1">
      <h2 class="fw-bold">TITLE HEADING</h2>
      <h5 class="fw-bold">Title description, Dec 7, 2017</h5>
      <div class="fakeimg" style="height: 200px;">
        <p>Image</p>
      </div>
      <p>Some text...</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
        tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
      </p>
    </article>
    <article class="post-2">
      <h2 class="fw-bold">TITLE HEADING</h2>
      <h5 class="fw-bold">Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height: 200px;">
        <p>Image</p>
      </div>
      <p>Some text...</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
        tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
      </p>
    </article>
    <aside class="about-me">
      <h2 class="fw-bold">About Me</h2>
      <div class="fakeimg" style="height: 100px;">
        <p>Image</p>
      </div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..
      </p>
    </aside>
    <aside class="popular-post">
      <h3 class="fw-bold">Popular Post</h3>
      <div class="fakeimg">
        <p>Image</p>
      </div>
      <div class="fakeimg">
        <p>Image</p>
      </div>
      <div class="fakeimg">
        <p>Image</p>
      </div>
    </aside>
    <aside class="follow-me">
      <h3 class="fw-bold">Follow Me</h3>
      <p>Some text...</p>
    </aside>
    <footer class="footer">
      <h2 class="fw-bold">Footer</h2>
    </footer>
  </div>
</body>

</html>